@font-face {
  font-family: "monserrat";
  src: url("./assets/fontLang.ttf");
}

*{
  font-family: "monserrat";
}

body{
  margin:0;
  box-sizing: border-box;
  overflow-x:hidden;
}

a{
  color:#e5fbe1;
  text-decoration: none;
}